In [3]:

%%spark -c sql
--non customer metrics by week
select wm_yr_wk_nbr,
sum(og.order_ty_cnt) AS orders_tw,
sum(og.order_lw_cnt) AS orders_lw,
sum(og.dlvr_ty_amt) AS gmv_tw,
sum(og.dlvr_lw_amt) AS gmv_lw,
sum(og.visit_ty_cnt) AS visits_tw,
sum(og.visit_lw_cnt) AS visits_lw
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ og
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and store_nbr = '-999'
and dma_nm = 'ALL'
and cust_type_nm = 'ALL'
and rpt_dt between '2021-12-04' and '2021-12-06'
group by wm_yr_wk_nbr
order by wm_yr_wk_nbr

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

,wm_yr_wk_nbr,orders_tw,orders_lw,gmv_tw,gmv_lw,visits_tw,visits_lw
0,45,2114906,2025179,2.127538e+08,1.866093e+08,90365872,104868474

In [2]:
%%spark -c sql
--non customer metrics by rpt_dt
select rpt_dt, wm_yr_wk_nbr,
sum(og.order_ty_cnt) AS orders_tw,
sum(og.order_lw_cnt) AS orders_lw,
sum(og.dlvr_ty_amt) AS gmv_tw,
sum(og.dlvr_lw_amt) AS gmv_lw,
sum(og.visit_ty_cnt) AS visits_tw,
sum(og.visit_lw_cnt) AS visits_lw
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ og
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and store_nbr = '-999'
and dma_nm = 'ALL'
and cust_type_nm = 'ALL'
and rpt_dt between '2021-11-25' and '2021-11-26'
group by rpt_dt,wm_yr_wk_nbr
order by rpt_dt,wm_yr_wk_nbr

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

,rpt_dt,wm_yr_wk_nbr,orders_tw,orders_lw,gmv_tw,gmv_lw,visits_tw,visits_lw
0,2021-11-25,43,43,614126,4.604246e+03,6.022921e+07,28832920,24851428
1,2021-11-26,43,438577,687180,3.690854e+07,7.133866e+07,45876738,23450941

In [ ]:
# When data for partial week, fetch data from daily customer count table: ww_mktg_dl_tables.mktg_onln_groc_dly_summ

# do NOT validate against: ww_mktg_dl_tables.mktg_onln_groc_cust_dly_summ. 
# This table has cumulative incremental values for different time frame :Weekly, Quarter and Yearly level.

# Partial week: WMT week starts on Saturday and Ends on Friday

In [10]:
%%spark -c sql
-- for COMPLETE WEEK use ww_mktg_dl_tables.mktg_onln_groc_cust_dly_summ for customer count
--customer metrics for complete week is a cumulative number
-- so for the week the max date will have the customer count for the complete week

select rpt_dt,wm_yr_wk_nbr,cust_type_nm,sum(cust_cnt) as new_cust
from ww_mktg_dl_tables.mktg_onln_groc_cust_dly_summ 
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and dma_nm = 'ALL'
and period_beg_nm = 'WEEKLY'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt between '2021-11-13' and '2021-11-19'
group by rpt_dt,wm_yr_wk_nbr,cust_type_nm
order by rpt_dt,wm_yr_wk_nbr,cust_type_nm

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  wm_yr_wk_nbr  cust_type_nm  new_cust
0 2021-11-13            42  NEW CUSTOMER     26441
1 2021-11-14            42  NEW CUSTOMER     51517
2 2021-11-15            42  NEW CUSTOMER     76643
3 2021-11-16            42  NEW CUSTOMER    100568
4 2021-11-17            42  NEW CUSTOMER    123887
5 2021-11-18            42  NEW CUSTOMER    146646
6 2021-11-19            42  NEW CUSTOMER    170958

In [1]:

%%spark -c sql
-- FOR PARTIAL WEEK customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select sum(cust_ty_cnt) as total_cust_counts_tw
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt between '2021-11-27' and '2021-12-02'

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   total_cust_counts_tw
0                269633

In [4]:

%%spark -c sql
-- FOR PARTIAL WEEK customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select rpt_dt,sum(cust_ty_cnt) as total_cust_counts_tw
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt between '2021-11-27' and '2021-12-02'
group by rpt_dt
order by rpt_dt

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  total_cust_counts_tw
0 2021-11-27                 50916
1 2021-11-28                 42412
2 2021-11-29                 49176
3 2021-11-30                 47044
4 2021-12-01                 41782
5 2021-12-02                 38303

In [3]:
%%spark -c sql
-- FOR PARTIAL WEEK customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select sum(cust_ty_cnt) as total_cust_counts_lw
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt between date_sub('2021-11-20',7) and date_sub('2021-11-20',7)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   total_cust_counts_lw
0                 25844

In [4]:
%%spark -c sql
-- FOR PREVIOUS day, DOD customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select rpt_dt,sum(cust_ty_cnt) cust_cnt
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt  in('2021-11-20', date_sub('2021-11-20',1))
group by rpt_dt

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  cust_cnt
0 2021-11-20     26358
1 2021-11-19     24352

In [37]:
%%spark -c sql
-- FOR PREVIOUS day, WOW customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select rpt_dt,sum(cust_ty_cnt) cust_cnt
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt  in('2021-11-20', date_sub('2021-11-20',7))
group by rpt_dt

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  cust_cnt
0 2021-11-13     25844
1 2021-11-20     26358

In [5]:
%%spark -c sql
-- FOR PREVIOUS day, WOW customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select sum(cust_ty_cnt) cust_cnt
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt  between '2021-11-13' and '2021-11-19'

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   cust_cnt
0    458178

In [7]:
%%spark -c sql
-- FOR PREVIOUS day, WOW customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select sum(cust_ty_cnt) cust_cnt
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
and rpt_dt  between '2020-11-01' and '2020-11-19'

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   cust_cnt
0    621082

In [18]:
%%spark -c sql
select fiscal_week, 
sum(spend) as spend
from mktg_spend_mart.mktg_opd_spend
where day between '2021-11-13' and '2021-11-19'
group by fiscal_week

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

    fiscal_week      spend
0  FY21 Week 42  669592.89
1  FY21 Week 41  173475.80

In [8]:
%%spark -c sql
-- get spend numbers
select fiscal_week, 
sum(spend) as spend
from mktg_spend_mart.mktg_opd_spend
where to_date(day) between '2021-11-27' and '2021-12-02'
group by fiscal_week

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

    fiscal_week      spend
0  FY22 Week 44  763796.08

In [7]:
%%spark -c sql
-- get spend numbers by spend tactic pillar
select to_date(day) as dt,fiscal_week, 'ALL' as marketing_vehicle, 
spend_tactic_pillars,
sum(spend) as spend
from mktg_spend_mart.mktg_opd_spend
where to_date(day) between '2021-08-07' and '2021-08-13'
group by day, fiscal_week,spend_tactic_pillars

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

           dt   fiscal_week marketing_vehicle spend_tactic_pillars      spend
0  2021-08-07  FY22 Week 28               ALL            Retention   35197.08
1  2021-08-07  FY22 Week 28               ALL        Consideration    6508.67
2  2021-08-10  FY22 Week 28               ALL        Consideration   34167.73
3  2021-08-11  FY22 Week 28               ALL            Retention   36343.61
4  2021-08-08  FY22 Week 28               ALL                  TBD       0.00
5  2021-08-11  FY22 Week 28               ALL        Consideration   34255.67
6  2021-08-07  FY22 Week 28               ALL          Acquisition  147178.88
7  2021-08-13  FY22 Week 28               ALL          Acquisition  157779.63
8  2021-08-09  FY22 Week 28               ALL        Consideration   34253.29
9  2021-08-09  FY22 Week 28               ALL            Awareness        NaN
10 2021-08-12  FY22 Week 28               ALL            Retention   36662.62
11 2021-08-09  FY22 Week 28               ALL          Acquisition  145232.15
12 2021-08-10  FY22 Week 28               ALL                  TBD       0.00
13 2021-08-13  FY22 Week 28               ALL            Retention   39208.74
14 2021-08-08  FY22 Week 28               ALL          Acquisition  154492.23
15 2021-08-13  FY22 Week 28               ALL                  TBD       0.00
16 2021-08-11  FY22 Week 28               ALL                  TBD       0.00
17 2021-08-12  FY22 Week 28               ALL            Awareness        NaN
18 2021-08-10  FY22 Week 28               ALL          Acquisition  145928.77
19 2021-08-12  FY22 Week 28               ALL        Consideration   33697.83
20 2021-08-09  FY22 Week 28               ALL                  TBD       0.00
21 2021-08-13  FY22 Week 28               ALL        Consideration   34222.78
22 2021-08-08  FY22 Week 28               ALL        Consideration    6842.95
23 2021-08-10  FY22 Week 28               ALL            Retention   31804.81
24 2021-08-10  FY22 Week 28               ALL            Awareness        NaN
25 2021-08-07  FY22 Week 28               ALL            Awareness        NaN
26 2021-08-08  FY22 Week 28               ALL            Awareness        NaN
27 2021-08-11  FY22 Week 28               ALL            Awareness        NaN
28 2021-08-07  FY22 Week 28               ALL                  TBD       0.00
29 2021-08-09  FY22 Week 28               ALL            Retention   32749.43
30 2021-08-13  FY22 Week 28               ALL            Awareness        NaN
31 2021-08-12  FY22 Week 28               ALL                  TBD       0.00
32 2021-08-08  FY22 Week 28               ALL            Retention   35746.51
33 2021-08-11  FY22 Week 28               ALL          Acquisition  152324.42
34 2021-08-12  FY22 Week 28               ALL          Acquisition  156265.09

In [ ]:
%%bigquery
select rpt_dt, sum(DLVR_AMT) as gmv,count(distinct sales_order_num) as orders
from wmt-edw-prod.WW_GEC_VM.OG_ORDER_ITEM_360
where rpt_dt between '2021-10-16' and '2021-10-22'
and FULFMT_TYPE_DESC  not like 'UNSCHEDULED%' group by rpt_dt order by rpt_dt

In [ ]:
%%spark -c sql
-- We do not maintain this hive table and use the bigquery table wmt-edw-prod.WW_GEC_VM.OG_ORDER_ITEM_360
-- for qc use the bigquery table
select wm_year_wk_nbr,sum(DLVR_AMT) as gmv,count(distinct sales_order_num) as orders
from cbb_segment.og_order_item_360 a
join us_core_dim.calendar_dim b
on a.rpt_dt=b.calendar_date
where rpt_dt between '2021-10-09' and '2021-10-22'
and FULFMT_TYPE_DESC  not like 'UNSCHEDULED%'
group by wm_year_wk_nbr
order by wm_year_wk_nbr

In [8]:
%%spark -c sql
Select date1, count(distinct  sales_order_num) as orders_tw
from sam_tab.all_adid_change
where date1 between '2021-10-09' and '2021-10-15'
group by date1
order by date1

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

       date1  orders_tw
0 2021-10-09     585739
1 2021-10-10     646218
2 2021-10-11     617115
3 2021-10-12     478217
4 2021-10-13     567898
5 2021-10-14     562249
6 2021-10-15     636587

In [11]:
%%spark -c sql
-- WEEK TO DATE - Total Orders - Orders TW - Working:
-- User needs to pass Latest Data Available Date from Dashboard 
-- Check mktg-opd-alerts for Tableau Refresh Complete Notification
-- **************************************************
select wm_yr_wk_nbr, 
sum(order_ty_cnt) cust_orders,
sum(dlvr_ty_amt) AS gmv,
sum(visit_ty_cnt) AS visits
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and store_nbr = '-999'
and dma_nm = 'ALL'
and cust_type_nm = 'ALL' -- REPEAT CUSTOMER/NEW CUSTOMER/ALL
and wm_yr_wk_nbr = (select max(wm_yr_wk_nbr) 
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where rpt_dt = '2021-11-20')
and year(rpt_dt) = year('2021-11-20')
group by wm_yr_wk_nbr

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   wm_yr_wk_nbr  cust_orders           gmv    visits
0            43       678316  6.920269e+07  27954204

In [13]:
%%spark -c sql
-- check for row count for ww_mktg_dl_tables.mktg_onln_groc_cust_dly_summ , in case there are multiple rows
select
rpt_dt,
period_beg_nm,
mktg_chnl_nm AS mktg_chnl,
sub_mktg_chnl_nm AS sub_mkt_chnl,
dev_type_nm AS dev_type,
fulfmt_chnl_nm AS fulfmt_chnl,
dma_nm AS dma_nm,
cust_type_nm AS cust_type,
cust_cnt AS cust_prev_qtr,
COUNT(*) OVER(PARTITION BY rpt_dt, period_beg_nm ) row_cnt
from
ww_mktg_dl_tables.mktg_onln_groc_cust_dly_summ 
where
--period_beg_nm in ('QUARTERLY', 'YEARLY')
dma_nm = 'ALL' 
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'NEW CUSTOMER'
--and rpt_dt in('2021-11-04', '2020-11-19')
order by row_cnt DESC

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

,rpt_dt,period_beg_nm,mktg_chnl,sub_mkt_chnl,dev_type,fulfmt_chnl,dma_nm,cust_type,cust_prev_qtr,row_cnt
0,2018-08-15,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,171495,1
1,2018-09-11,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,46638,1
2,2018-11-25,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,23054,1
3,2019-11-25,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,444042,1
4,2020-07-26,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,6756582,1
5,2020-10-18,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,441473,1
6,2020-11-06,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,195531,1
7,2020-11-26,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,873459,1
8,2020-11-29,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,68694,1
9,2021-02-25,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,608932,1
10,2021-03-10,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,111004,1
11,2021-03-13,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,22906,1
12,2021-05-28,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,2594243,1
13,2018-03-31,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,7251,1
14,2018-04-27,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,516076,1
15,2018-06-18,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,26616,1
16,2018-07-28,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,766655,1
17,2018-08-18,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,206104,1
18,2018-12-09,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,112426,1
19,2018-12-25,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,644477,1
20,2019-11-15,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,255000,1
21,2019-11-22,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,375224,1
22,2019-12-20,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,117833,1
23,2020-01-20,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,349173,1
24,2020-06-12,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,1452386,1
25,2020-08-29,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,7756894,1
26,2020-10-06,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,143319,1
27,2021-04-02,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,157375,1
28,2021-10-30,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,6015126,1
29,2021-11-16,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,6423310,1
...,...,...,...,...,...,...,...,...,...,...
2470,2021-11-14,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,6374347,1
2471,2018-02-18,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,97260,1
2472,2018-05-16,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,645906,1
2473,2018-05-21,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,145670,1
2474,2018-06-07,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,60166,1
2475,2018-06-27,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,237503,1
2476,2018-10-13,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,10193,1
2477,2019-11-05,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,86011,1
2478,2019-11-05,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,3725433,1
2479,2019-12-02,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,4195088,1
2480,2020-01-02,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,1055994,1
2481,2020-01-22,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,5049472,1
2482,2020-01-25,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,5096018,1
2483,2020-05-23,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,4833675,1
2484,2020-06-19,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,186176,1
2485,2020-06-24,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,633829,1
2486,2020-06-26,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,691060,1
2487,2020-08-02,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,66141,1
2488,2021-03-03,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,68169,1
2489,2021-05-24,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,2512231,1
2490,2021-06-06,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,43691,1
2491,2021-06-14,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,62389,1
2492,2021-09-11,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,22983,1
2493,2021-09-16,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,1138399,1
2494,2021-11-15,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,364392,1
2495,2018-02-12,YEARLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,66772,1
2496,2018-04-01,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,5251,1
2497,2018-04-08,WEEKLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,14698,1
2498,2018-06-28,MONTHLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,245075,1
2499,2018-06-28,QUARTERLY,ALL,ALL,ALL,ALL,ALL,NEW CUSTOMER,464023,1

In [21]:
%%spark -c sql
-- check for glass table mktg_analytics.opd_glass_visits_orders
select  wm_week, glass_filter,mv, sum(visits)v
from mktg_analytics.opd_glass_visits_orders  where wm_week >= 202142 and mv ='ALL' and glass_filter = 'overall'
group by wm_week, glass_filter,mv

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   wm_week glass_filter   mv          v
0   202143      overall  ALL   26493914
1   202142      overall  ALL  172886897

In [7]:
%%spark -c sql
-- get spend numbers
select *
from mktg_spend_mart.mktg_opd_spend

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

,fiscal_week,day,marketing_vehicle,vendor,channel,sub_marketing_vehicle,pickup_delivery_cobranded,ratio_split_of_cobranded,spend_tactic_pillars,spend_category,device,spend
0,FY21 Week 4,2020-02-26,DPS,NCM,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Consideration,Working,All,1245.92
1,FY21 Week 4,2020-02-26,DPS,Facebook,Social,Social,NaT,NaT,Consideration,Working,All,5770.65
2,FY21 Week 4,2020-02-26,DPS,Haworth Internal Trading - TTD,Digital_Multiple_High_Impact,Digital_Multiple_High_Impact,NaT,NaT,Consideration,Working,All,1526.54
3,FY21 Week 4,2020-02-26,DPS,cardlytics.com,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Acquisition,Working,All,6120.00
4,FY21 Week 4,2020-02-26,DPS,"AUGEO CLO, INC.",Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Acquisition,Working,All,4595.15
5,FY21 Week 4,2020-02-26,DPS,Pandora.com,Digital_Audio,Digital_Audio,NaT,NaT,Awareness,Working,All,1686.88
6,FY21 Week 4,2020-02-26,OFFLINE MEDIA,Adomni,Outdoor,Out of Home,NaT,NaT,Awareness,Working,All,4181.20
7,FY21 Week 4,2020-02-26,SEM,Google,Search,SEM_LIA,NaT,NaT,Retention,Working,All,1546.38
8,FY21 Week 4,2020-02-26,SEM,Microsoft,Search,SEM_NB,NaT,NaT,Retention,Working,All,504.55
9,FY21 Week 4,2020-02-26,AFFILIATES,Acorns,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,1783.18
10,FY21 Week 4,2020-02-26,AFFILIATES,PriceSpider,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,5.00
11,FY21 Week 4,2020-02-26,DPS,"Time Warner, Inc � Turner Digital (Entertainme...",Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,0.00
12,FY21 Week 4,2020-02-26,DPS,Verizon Media,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Retention,Working,All,4681.68
13,FY21 Week 4,2020-02-26,DPS,Haworth Internal Trading - DBM,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Consideration,Working,All,1321.96
14,FY21 Week 4,2020-02-26,AFFILIATES,Tasty Media,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,560.43
15,FY21 Week 4,2020-02-26,AFFILIATES,Dosh,AFFILIATES,AFFILIATES,NaT,NaT,Consideration,Working,All,0.00
16,FY21 Week 4,2020-02-26,SEM,Microsoft,Search,SEM_BR,NaT,NaT,Retention,Working,All,1591.70
17,FY21 Week 4,2020-02-26,SEM,Google,Search,SEM_NB,NaT,NaT,Retention,Working,All,892.07
18,FY21 Week 4,2020-02-26,DPS,Haworth Internal Trading - TTD,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Consideration,Working,All,3151.05
19,FY21 Week 4,2020-02-26,AFFILIATES,United MileagePlus X,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,11.19
20,FY21 Week 4,2020-02-26,DPS,Facebook,Social,Social,NaT,NaT,Retention,Working,All,5286.50
21,FY21 Week 4,2020-02-26,SEM,Google,Search,SEM_LIA,NaT,NaT,Acquisition,Working,All,14967.24
22,FY21 Week 4,2020-02-26,SEM,Microsoft,Search,SEM_NB,NaT,NaT,Acquisition,Working,All,812.46
23,FY21 Week 4,2020-02-26,OFFLINE MEDIA,Print Solutions,Direct Mail,Direct Mail,NaT,NaT,Retention,Working,All,0.00
24,FY21 Week 4,2020-02-26,AFFILIATES,Whisk,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,15.00
25,FY21 Week 4,2020-02-26,AFFILIATES,"Discovery, Inc",AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,10.00
26,FY21 Week 4,2020-02-26,AFFILIATES,BuzzFeed,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,180.16
27,FY21 Week 4,2020-02-26,AFFILIATES,Shopkick,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,2808.38
28,FY21 Week 4,2020-02-26,AFFILIATES,Drop,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,1673.12
29,FY21 Week 4,2020-02-26,AFFILIATES,Drop,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,40.53
...,...,...,...,...,...,...,...,...,...,...,...,...
2470,FY21 Week 32,2020-09-11,AFFILIATES,PriceSpider,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,12.00
2471,FY21 Week 32,2020-09-11,AFFILIATES,Tasty Media,AFFILIATES,AFFILIATES,NaT,NaT,Awareness,Working,All,0.00
2472,FY21 Week 32,2020-09-11,DPS,PlutoTV,Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,387.45
2473,FY21 Week 32,2020-09-11,DPS,Haworth Internal Trading - TTD,Digital_Multiple_Display,Digital_Multiple_Display,NaT,NaT,Consideration,Working,All,4767.61
2474,FY21 Week 32,2020-09-11,SEM,Google,Search,SEM_NB,NaT,NaT,Retention,Working,All,621.27
2475,FY21 Week 32,2020-09-11,DPS,Facebook,Social,Social,NaT,NaT,Retention,Working,All,757.77
2476,FY21 Week 32,2020-09-11,DPS,Walt Disney Internet Group � ABC Family,Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,6565.62
2477,FY21 Week 32,2020-09-11,DPS,Discovery.com,Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,5072.72
2478,FY21 Week 32,2020-09-11,AFFILIATES,RewardStyle,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,0.00
2479,FY21 Week 32,2020-09-11,AFFILIATES,FirstMedia,AFFILIATES,AFFILIATES,NaT,NaT,Awareness,Working,All,0.00
2480,FY21 Week 32,2020-09-11,AFFILIATES,PriceSpider,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,-2.00
2481,FY21 Week 32,2020-09-11,AFFILIATES,Verizon Media Group,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,55.00
2482,FY21 Week 32,2020-09-11,AFFILIATES,eMeals,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,0.00
2483,FY21 Week 32,2020-09-11,AFFILIATES,Northfork,AFFILIATES,AFFILIATES,NaT,NaT,Awareness,Working,All,0.00
2484,FY21 Week 32,2020-09-11,AFFILIATES,FirstMedia,AFFILIATES,AFFILIATES,NaT,NaT,Consideration,Working,All,1111.11
2485,FY21 Week 32,2020-09-11,AFFILIATES,RewardStyle,AFFILIATES,AFFILIATES,NaT,NaT,Consideration,Working,All,0.00
2486,FY21 Week 32,2020-09-11,SEM,Google,Search,SEM_NB,NaT,NaT,Acquisition,Working,All,226.44
2487,FY21 Week 32,2020-09-11,SEM,Microsoft,Search,SEM_NB,NaT,NaT,Retention,Working,All,582.27
2488,FY21 Week 32,2020-09-11,OFFLINE MEDIA,Television,National Television,National Television,NaT,NaT,Awareness,Working,All,30345.00
2489,FY21 Week 32,2020-09-11,AFFILIATES,Whisk,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,3.50
2490,FY21 Week 32,2020-09-11,DPS,CBS Interactive,Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,475.21
2491,FY21 Week 32,2020-09-11,DPS,Facebook,Social,Social,NaT,NaT,Acquisition,Working,All,2927.79
2492,FY21 Week 32,2020-09-11,DPS,Fox Broadcasting Network - Fox Television,Digital_Broadband_Video,Digital_Broadband_Video,NaT,NaT,Awareness,Working,All,1965.65
2493,FY21 Week 32,2020-09-11,AFFILIATES,Northfork,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,0.00
2494,FY21 Week 32,2020-09-11,AFFILIATES,FirstMedia,AFFILIATES,AFFILIATES,NaT,NaT,Acquisition,Working,All,0.00
2495,FY21 Week 32,2020-09-11,OFFLINE MEDIA,Television,National Hispanic TV,National Hispanic TV,NaT,NaT,Awareness,Working,All,3784.20
2496,FY21 Week 32,2020-09-11,AFFILIATES,Acorns,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,56.00
2497,FY21 Week 32,2020-09-11,AFFILIATES,BuzzFeed,AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,0.00
2498,FY21 Week 32,2020-09-11,AFFILIATES,"Giving Assistant, Inc.",AFFILIATES,AFFILIATES,NaT,NaT,Retention,Working,All,122.00
2499,FY21 Week 32,2020-09-11,AFFILIATES,Northfork,AFFILIATES,AFFILIATES,NaT,NaT,Consideration,Working,All,0.00

In [3]:
%%spark -c sql
--non customer metrics by rpt_dt
select rpt_dt, wm_yr_wk_nbr,
sum(og.order_ty_cnt) AS orders_tw,
sum(og.dlvr_ty_amt) AS gmv_tw,
sum(og.visit_ty_cnt) AS visits_tw
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ og
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and store_nbr = '-999'
and dma_nm = 'ALL'
and cust_type_nm = 'ALL'
and rpt_dt in ('2021-11-25','2021-11-26','2020-11-26')
group by rpt_dt,wm_yr_wk_nbr
order by rpt_dt,wm_yr_wk_nbr

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  wm_yr_wk_nbr  orders_tw        gmv_tw  visits_tw
0 2020-11-26            43         24  8.253516e+02    4231145
1 2021-11-25            43         43  4.604246e+03   28832920
2 2021-11-26            43     438577  3.690854e+07   45876738

In [6]:
%%spark -c sql
-- FOR PARTIAL WEEK customer count use ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
select rpt_dt, sum(cust_ty_cnt) as total_cust_counts_tw
from
ww_mktg_dl_tables.mktg_onln_groc_dly_summ 
where
store_nbr = -999
and dma_nm = 'ALL'
and mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and cust_type_nm = 'ALL'
and rpt_dt in('2021-11-25','2021-11-26','2020-11-26')
group by rpt_dt
order by rpt_dt

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  total_cust_counts_tw
0 2020-11-26                    24
1 2021-11-25                    43
2 2021-11-26                426885

In [11]:
%%spark -c sql
--non customer metrics by rpt_dt
select rpt_dt, wm_yr_wk_nbr,
sum(og.dlvr_ty_amt) AS gmv_tw
from ww_mktg_dl_tables.mktg_onln_groc_dly_summ og
where mktg_chnl_nm = 'ALL'
and sub_mktg_chnl_nm = 'ALL'
and dev_type_nm = 'ALL'
and fulfmt_chnl_nm = 'ALL'
and store_nbr = '-999'
and dma_nm = 'ALL'
and cust_type_nm = 'ALL'
and rpt_dt between '2021-11-20' and '2021-11-25'
group by rpt_dt,wm_yr_wk_nbr
order by rpt_dt,wm_yr_wk_nbr

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

      rpt_dt  wm_yr_wk_nbr        gmv_tw
0 2021-11-20            43  6.923253e+07
1 2021-11-21            43  7.276121e+07
2 2021-11-22            43  6.928803e+07
3 2021-11-23            43  6.736976e+07
4 2021-11-24            43  6.425482e+07
5 2021-11-25            43  4.604246e+03